            <h2 class="post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <!-- Post Metadata -->
            <footer class="post-info">
              Posted on 
              <span class="post-meta">
              <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
              &mdash; Tagged in
              {% for t in post.tags %}
              <a href="{{ site.url }}/tags/{{ t }}">{{ t }}</a> 
              {% endfor %}
              </span>
            </footer>

            {% if include.summary %}
            {{ post.excerpt }}
            <a href="{{ post.url }}" title="Read more">Read more &raquo;</a>
            {% endif %}

